@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

:root {
    --gradient: linear-gradient(225deg, transparent, black);
    --gradient2: linear-gradient(to right,
        /* This combination makes the animation look continuous. */
        purple,
        red, orange, yellow, green, blue, purple,
        red, orange, yellow, green, blue, purple);
}

body {
    font-family: sans-serif;
}

p {
    max-width: 35rem;
}

.mdnlink {
    font-family: monospace;
}

.demo {
    width: 7em;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.mask-image .demo {
    mask-image: var(--gradient);
    -webkit-mask-image: var(--gradient);
}

.background-clip .demo {
    background: var(--gradient2);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: left;
    color: transparent;
    margin: 0;
    padding: 0;
}

.background-clip #animate:checked ~ .demo {
    animation: animate 5s infinite linear;
}

.background-clip-gif .demo {
    background-image: url('images/flag.gif');
    background-clip: text;
    background-size: 25%;
    background-position: left;
    -webkit-background-clip: text;
    color: transparent;

    /* Make it stand out */
    font-family: 'Erica One', 'Arial Black', cursive;
    font-size: 8.5vw;
    font-variant: small-caps;
    line-height: 1;
    -webkit-text-stroke: 1px black;
    width: auto
}

@keyframes animate {
    to {
        background-position: right;
    }
}